
#root {
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  text-align: center;
  align-items: center;    /* center horizontally */
}
#tooltip {
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    text-align: left;
    z-index:20;
}

#tooltip-selected {
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    text-align: left;
    z-index: 10;
}
.scrolly{
  width: 1000px;
  margin: auto;
}

.scrolly_narrative_left {
  position: relative;
}
.scrolly_narrative_center {
  position: relative;
  justify-items: center;
}
.sticky {
  position:-webkit-sticky;
  position: sticky;
  top: 50px;
}
.sticky_right {
  position:-webkit-sticky;
  position: sticky;
  top: 50px;
  justify-self: right;
}
.scroll-box{
  z-index: 10;
}
.scroll-box p{
  width: 320px;
  background-color: rgba(255, 255, 255, 0.904);
  color: rgb(86, 85, 94);
  text-align:left;
  padding: 1em;
  border: 2px solid rgb(172, 172, 172);
  z-index: 10;
}

.scroll-box p.active-step {
  box-shadow: 0 4px 16px #3a3a3a73;

}
.scrollyStadium {
  transform: scale(1);
  transform-origin: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.conclusion {
  position: relative;
  padding-bottom: 100px;
  background-color: #000000; /* solid fill inside */
  color: rgb(228, 228, 228);
  z-index: 0;
}

/* Gradient overlay for the "margin" area */
.conclusion::before {
  content: "";
  position: absolute;
  top: -20%;      /* matches your margin-top */
  left: 0;
  right: 0;
  height: 20%;    /* gradient height */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000000);
  z-index: -1;    /* behind the box */
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
